RewriteEngine On

# If file or folder exists, do not rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect everything to index.php
RewriteRule ^ index.php [QSA,L]